<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logfile" 
            xsi:type="File" 
            fileName="logs/log.log"
            layout="${longdate}|${level:uppercase=true}|${logger}(${callsite-linenumber})|${threadid}|${message}|${exception:format=tostring}"
            keepFileOpen="false"
            archiveFileName="logs/archives/log.{#}.log"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Date"
            archiveDateFormat="yyyy-MM-dd_HH-mm-ss"
            maxArchiveFiles="20"
            archiveOldFileOnStartup="true" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>